div{
    width: 150px;
    height: 150px;
}
#box1{
    background-color: red;
    border: 5px dotted blue ;
}
#box2{
    background-color: blue;
    margin: 32px 0 0 0;
    border: 5px solid red ;
    padding: 45px;
}
#box3{
    background-color: aqua;
    margin: 32px 0 0 0;
    border: 5px double red ;
}
#box4{
    background-color: orange;
    margin: 32px 0 0 0;
    border: 5px groove red ;
}
#box5{
    background-color: deeppink;
    margin: 32px 0 0 0;
    border: 5px ridge red ;
}